// SPDX-License-Identifier: $!{spdx}
pragma solidity $!{pragmaVersion};
#foreach($imp in $imports)
import "$imp";
#end


import {LibDeepRole2} from "../libraries/LibDeepRole2.sol";


contract $!{contractName} {

    function setDeepRoleID(string memory _deepRoleID) external {
        LibDeepRole2.setDeepRoleID(_deepRoleID);

    }

    function getDeepRoleID() external returns(string memory) {
        return LibDeepRole2.getDeepRoleID();

    }

    function externalMessageDeepRoleRelated() public returns(string memory) {
        return LibDeepRole2.externalMessageDeepRoleRelated();
    }


}

