// SPDX-License-Identifier: MIT
pragma solidity >=0.7.0 <0.9.0;

import "./staticroleassignment/ComponentRole.sol";
import "./staticroleassignment/Compartment.sol";

## @dev Sample Compartment contract implementing role-based compartmentalization
contract ${Compartment} is Compartment {

    function sampleFunc1() public {
    }

}
