// SPDX-License-Identifier: UNLICENSED
pragma solidity 0.8.13;

import "./MealPlan.sol";

contract ${contractName} {

    MealPlan public plan;

    #foreach($sub in $subGoals)
        #foreach($action in $sub.actions)
    // Event placeholder for action: $action.name
    #end
    #end

    constructor(address _planAddress) {
        plan = MealPlan(_planAddress);
    }

    #foreach($sub in $subGoals)
        // SubGoal: $sub.name
        #foreach($action in $sub.actions)
    function ${esc.methodName($action.methodName)}() public {
        // TODO: implement action: $action.name
        // Avoidance: $action.avoidance
        // Willingness: $action.willingness
        // Example: Read only the needed fields (partial destructuring):
        // ( , , , MealPlan.EnergyUsage energyUsage, MealPlan.Willingness willingness, , , , , ) = plan.currentPlan();
    }
        #end
    #end

}
