## SPDX-License-Identifier: MIT
##pragma solidity >=0.8.7;
##import "./Society.sol";
##import "./ConcreteMediator.sol";

contract $SocialAgentContract {

#set( $socialAgentName = "" ) ## public variable for social agent name

## Function to bind the social agent to a society via the mediator
function socialAgentBindToSociety(address _societyAddress, ConcreteMediator mediator, string memory _socialAgentName) public {
    mediator.bindAgent(_societyAddress, _socialAgentName);
}

## Function to unbind the social agent from the mediator
function socialAgentUnbind(string memory _socialAgentName, ConcreteMediator mediator) public {
    mediator.unbindAgent(_socialAgentName);
}

## Function to create a new agent with a given name
function createAgent(string memory _socialAgentName) external {
    setName(_socialAgentName);
}

## Function to set the social agent name
function setName(string memory _specAgent) public {
    $socialAgentName = _specAgent;
}

## Function to retrieve the social agent's name
function getSocialAgentName() public view returns(string memory) {
    return $socialAgentName;
}

}
