// SPDX-License-Identifier: $!{spdx}
pragma solidity $!{pragmaVersion};
#foreach($imp in $imports)
import "$imp";
#end




// The following creator contracts are specific to the drone‑medicine use case.
// They are placed in the usecase folder so that domain code and related
// factory logic live together.

contract $!{contractName} is RoleCreator {
    function createFor(bytes32 _roleAddress) override public returns (ComponentRole) {
        return new DroneRole(address(0), address(0));
    }
}

contract PharmacyRoleCreator is RoleCreator {
    function createFor(bytes32 _roleAddress) override public returns (ComponentRole) {
        return new PharmacyRole(address(0), address(0));
    }
}

contract PatientRoleCreator is RoleCreator {
    function createFor(bytes32 _roleAddress) override public returns (ComponentRole) {
        return new PatientRole(address(0), address(0), address(0));
    }
}