#set($license = "UNLICENSED")
#set($solidityVersion = "0.8.7")
#set($contractName = "Player")
#set($ownerVariable = "owner")
#set($playFunction = "playDelegateCallRoleContract")
#set($getSelectorFunction = "getSelector")
#set($onlyOwnerModifier = "onlyOwner")
#set($mappingName = "playedContractList")

// SPDX-License-Identifier: $license
pragma solidity ^${solidityVersion};

/// @dev this contract holds the addresses of played contracts regarding they have been played
contract ${contractName} {

// State variables for the address holding
mapping(address => bool) public ${mappingName};

// State variable for smart contract controlling
// Owner address
address public ${ownerVariable};

constructor(address _assignedAddress) {
${ownerVariable} = _assignedAddress;
}

function ${playFunction}(address _contractAddress, string calldata _functionName) public ${onlyOwnerModifier} returns (bool) {
bytes4 functionSelector = ${getSelectorFunction}(_functionName);
(bool success, bytes memory returndata) = _contractAddress.delegatecall(abi.encodeWithSelector(functionSelector));

// If the function call reverted
if (!success) {
${mappingName}[_contractAddress] = false;
if (returndata.length > 0) {
assembly {
let sizeReturnData := mload(returndata) // Write a specific message regarding the revert process
revert(add(32, returndata), sizeReturnData)
}
} else {
revert("Function call has been reverted");
}
}

${mappingName}[_contractAddress] = true; // Played addresses of roles have been stored in this variable
return ${mappingName}[_contractAddress];
}

/// @dev Get the function selector from the function name
function ${getSelectorFunction}(string calldata _function) internal pure returns (bytes4) {
return bytes4(keccak256(bytes(_function))); // 4 bytes of function selector
}

modifier ${onlyOwnerModifier}() {
require(msg.sender == ${ownerVariable}, "Revert because it is not the owner account");
_;
}
}
