// SPDX-License-Identifier: $!{spdx}
pragma solidity $!{pragmaVersion};
#foreach($imp in $imports)
import "$imp";
#end




contract $!{contractName} is ComponentRole {
    // role-specific functions could be added here
}