// SPDX-License-Identifier: $!{spdx}
pragma solidity $!{pragmaVersion};
#foreach($imp in $imports)
import "$imp";
#end



contract $!{contractName} is ComponentRole{

    string public socialAgentName;

    function socialAgentBindToSociety(address _societyAddress, ConcreteMediator mediator, string memory _socialAgentName) public {
        mediator.bindAgent(_societyAddress, _socialAgentName);
    }

    function socialAgentUnbind(string memory _socialAgentName, ConcreteMediator mediator) public {
        mediator.unbindAgent(_socialAgentName);
    }


    function createAgent(string memory _socialAgentName) external {
        setName(_socialAgentName);
    }

    function setName(string memory _specAgent) public {
        socialAgentName = _specAgent;
    }

    function getSocialAgentName() public view returns(string memory) {
        return socialAgentName;
    }

}

