// SPDX-License-Identifier: $!{spdx}
pragma solidity $!{pragmaVersion};
#foreach($imp in $imports)
import "$imp";
#end




/**
 * @title TicketingSystemCompartment
 * @dev Represents the alert/ticketing service the agent uses for escalations.
 */
contract $!{contractName} is Compartment {
    constructor() {
        createCompartmentID("TicketingSystem");
    }
}